<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>jee7webapp configuration tool</display-name>

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>

	<!-- security-constraint> <web-resource-collection> <web-resource-name>jee7webapp 
		application role based content</web-resource-name> <url-pattern>/*</url-pattern> 
		</web-resource-collection> <auth-constraint> <role-name>GA_CH_JavaAppServerAdmins</role-name> 
		</auth-constraint> </security-constraint> <login-config> <auth-method>SPNEGO</auth-method> 
		<realm-name>SPNEGO</realm-name> </login-config> <security-role> <description>Java 
		Application Server administrators allowed to access jboss configurations</description> 
		<role-name>GA_CH_JavaAppServerAdmins</role-name> </security-role -->

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>